* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*GALLERY-CONTAINER*/
.Gallery_Container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.Gallery_Container .Gallery_Container_Form_element1 {
  width: 100%;
  height: 30%;
}
.Gallery_Container .Gallery_Container_Form_element1 .ButtonSwitcher {
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  left: 50%;
  margin-top: 50px;
}
.Gallery_Container .Gallery_Container_Form_element1 .ButtonSwitcher .DarkModeStar {
  width: 50px;
  height: 50px;
}
.Gallery_Container .Gallery_Container_Element2 {
  width: 100%;
  height: 70%;
}
.Gallery_Container .Gallery_Container_Element2 .Gallery_Images_Container {
  min-width: 300px;
  max-height: 300px;
}

/*GALLERY-CONTAINER*/