$FullDisplay: 100%;
$BottomDisplay: 70%;
$TopDisplay: 30%;
$WidthOfImages: 300px;
$HeightOfImages: 300px;
$SmallIcon: 70px;
$Center: 50%;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*GALLERY-CONTAINER*/


.Gallery_Container {
  width: $FullDisplay;
  height: $FullDisplay;
  position: absolute;


  .Gallery_Container_Form_element1 {
    width: $FullDisplay;
    height: $TopDisplay;

    .ButtonSwitcher{
      width: $SmallIcon;
      height: $SmallIcon;

      position: relative;
      top: 0;
      left: $Center;

      margin-top: $SmallIcon;

      .DarkModeStar {
        width: $SmallIcon;
        height: $SmallIcon;
      }
    }
  }

  .Gallery_Container_Element2 {
    width: $FullDisplay;
    height: $BottomDisplay;

    .Gallery_Images_Container {
      min-width: $WidthOfImages;
      max-height: $HeightOfImages;
    }

  }


}



/*GALLERY-CONTAINER*/